<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Página não encontrada</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-danger">
                    <h3>Oops! Página não encontrada.</h3>
                    <p>A página que você está procurando não existe ou foi movida.</p>
                    <a href="" class="btn btn-primary">Voltar para a página inicial</a>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
